<a href="https://colab.research.google.com/github/doaa450/Stock-price-prediction-using-GAN/blob/master/%D9%86%D8%B5%D9%81_%D9%84%D9%88%D8%BA%D8%A7%D8%B1%D8%AA%D9%8A%D9%85.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import r2_score
%matplotlib inline
sns.set_style('whitegrid')
plt.style.use("fivethirtyeight")
sns.set(rc={'figure.figsize': [9, 9]}, font_scale=1.2)

In [21]:
from sklearn.linear_model import  Ridge

In [22]:
df=pd.read_excel('/content/1دعاء.xlsx')

In [23]:
df.head()

,year,y,x1,x2,x3,x4,x5,x6,x7,x8,...,LX4,LX5,LX6,LX7,LX8,LX9,LX10,LX11,LX12,LX13
0,1970,783898,3,175,10,58144,4747,10016,65407,4747,...,10.970678,8.465268,9.211939,11.088385,8.465268,7.565275,12.566847,10.517510,12.629420,9.154933
1,1971,921952,4,140,12,60747,5232,60747,65992,5232,...,11.014473,8.562549,11.014473,11.097289,8.562549,7.673223,12.634509,10.546446,12.813855,9.149741
2,1972,926661,3,149,11,64309,5524,64309,70254,5524,...,11.071455,8.616858,11.071455,11.159873,8.616858,7.709308,12.678595,10.613098,12.746042,9.178540
3,1973,882018,3,408,13,65738,5456,65738,71057,5456,...,11.093432,8.604471,11.093432,11.171238,8.604471,7.751045,12.600396,10.610414,12.672968,9.168163
4,1974,936014,4,330,16,63905,5862,63905,69144,5862,...,11.065153,8.676246,11.065153,11.143947,8.676246,7.776954,12.694751,10.593931,12.764353,9.120853

In [24]:
df.columns

Index(['year', 'y', 'x1', 'x2', 'x3', 'x4', 'x5', 'x6', 'x7', 'x8', 'x9',
       'x10', 'x11', 'x12', 'x13', 'LY', 'LX1', 'LX2', 'LX3', 'LX4', 'LX5',
       'LX6', 'LX7', 'LX8', 'LX9', 'LX10', 'LX11', 'LX12', 'LX13'],
      dtype='object')

# Drop Year
# split data 
# Standarization
# Build Model 
# Performance Measure

In [25]:
df.drop('year',axis=1,inplace= True)

In [26]:
df.head()

,y,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,LX4,LX5,LX6,LX7,LX8,LX9,LX10,LX11,LX12,LX13
0,783898,3,175,10,58144,4747,10016,65407,4747,1930,...,10.970678,8.465268,9.211939,11.088385,8.465268,7.565275,12.566847,10.517510,12.629420,9.154933
1,921952,4,140,12,60747,5232,60747,65992,5232,2150,...,11.014473,8.562549,11.014473,11.097289,8.562549,7.673223,12.634509,10.546446,12.813855,9.149741
2,926661,3,149,11,64309,5524,64309,70254,5524,2229,...,11.071455,8.616858,11.071455,11.159873,8.616858,7.709308,12.678595,10.613098,12.746042,9.178540
3,882018,3,408,13,65738,5456,65738,71057,5456,2324,...,11.093432,8.604471,11.093432,11.171238,8.604471,7.751045,12.600396,10.610414,12.672968,9.168163
4,936014,4,330,16,63905,5862,63905,69144,5862,2385,...,11.065153,8.676246,11.065153,11.143947,8.676246,7.776954,12.694751,10.593931,12.764353,9.120853

In [27]:
X=df.iloc[:,1:14]

In [28]:
X

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11,x12,x13
0,3,175,10,58144,4747,10016,65407,4747,1930,286888,36957,305413,9461
1,4,140,12,60747,5232,60747,65992,5232,2150,306971,38042,367271,9412
2,3,149,11,64309,5524,64309,70254,5524,2229,320807,40664,343191,9687
3,3,408,13,65738,5456,65738,71057,5456,2324,296676,40555,319007,9587
4,4,330,16,63905,5862,63905,69144,5862,2385,326032,39892,349533,9144
5,12,293,16,66891,6750,66891,72459,6750,2667,342074,39359,284000,8422
6,13,333,13,62173,6970,62173,73100,6970,2631,345183,42066,369981,10421
7,43,260,15,65473,7447,65473,71184,7447,2836,325932,39941,346683,10468
8,15,220,12,55907,7917,55907,72381,7917,2170,330519,40583,350541,12658
9,20,278,13,62599,7624,62599,68275,7624,3135,341682,39836,360843,10775
10,18,297,10,57885,7174,57885,62729,7174,2996,344318,36874,363383,10474
11,19,377,12,55841,8568,55841,61837,8568,3481,345524,39517,366312,10251
12,19,159,17,65730,9303,65730,62245,9303,3739,344015,37265,347758,10438
13,17,140,20,66937,9953,66937,62920,9953,3789,342280,38207,348882,11705
14,15,120,94,60353,10697,60353,66384,10697,4703,379541,36939,404153,10336
15,10,122,20,56912,10071,56912,62208,10071,4830,374794,37781,399137,13181
16,11,125,18,52944,9832,52944,57714,9832,4950,367070,34656,392061,11928
17,12,111,16,45514,10411,45514,68205,10411,5483,367486,34824,390027,10381
18,15,125,11,50628,10745,50628,65866,10745,6065,377822,36565,396882,11810
19,17,119,5,47086,11826,47086,41686,11826,5587,354928,65154,376353,14263
20,21,130,10,51359,15785,51359,53945,15785,5808,395424,36979,387131,14698
21,47,125,13,46410,11633,46410,41807,11633,5225,365336,34318,388192,11961
22,15,130,14,53210,12664,53210,75895,12664,5750,361754,34992,382673,14257
23,12,120,15,44774,13926,44774,40938,13926,6161,373836,42738,440076,13862
24,11,130,14,45214,14842,45214,51655,14842,6779,370846,40879,427972,13846
25,16,155,11,43926,16133,43926,49987,16133,7305,369819,45202,427418,15047
26,11,168,15,35067,16785,35067,49536,16785,8133,444527,43488,462988,15812
27,34,73,20,53506,18894,53506,60706,18894,7670,449265,44386,477520,16136
28,12,106,17,52169,20522,52169,48862,20522,8443,450557,46552,476367,16280
29,8,18,8,53304,21318,53304,60457,21318,8464,475762,47625,508833,16576
30,4,21,8,38992,21381,38992,55396,21381,7997,543083,46800,579473,16011
31,6,21,21,40000,21730,40000,46705,21730,7656,414812,41730,443445,14001
32,4,21,20,39390,21515,39390,45428,21515,8379,462326,47340,633587,15837
33,4,21,11,36839,19283,36839,42204,19283,8498,489380,47830,566985,16294
34,7,353,7,59573,19568,59573,37447,19568,8263,501950,46202,530550,15587
35,6,149,4,82305,19853,82305,35836,19853,8027,474299,45322,503450,15276
36,5,71,5,86520,20473,86520,36988,20473,8130,476660,42512,299563,14496
37,13,42,9,36009,23647,36009,40197,23647,10133,559770,50115,591832,17182
38,7,617,6,38879,26965,38879,42199,26965,11371,604797,82877,638109,22402
39,8,757,4,57837,49675,57837,45600,49675,12007,688524,69940,733462,25070
40,12,1425,20,23446,71311,23446,70130,71311,17824,685930,77337,834352,29271
41,4,652,6,61092,58515,61092,67254,58515,24614,682003,78793,796499,29126
42,6,507,10,62406,57987,62406,67512,57987,24825,685503,83190,885453,32941
43,10,986,7,67502,58188,67502,73384,58188,25761,683609,83606,873853,33727
44,14,598,4,72387,64988,72387,79276,64988,32338,859005,90189,911296,38025
45,10,601,5,72755,73103,72755,81204,73103,34534,688927,97316,921870,44123
46,11,618,7,65593,72480,65593,72648,72480,33945,681948,94507,892907,43341
47,9,1072,9,64350,78650,64350,72575,78650,35492,686880,92395,864446,44577
48,11,690,8,65004,85068,65004,73477,85068,40689,681562,92277,837503,45367
49,13,563,4,69808,92791,69808,81197,92791,45444,687053,95300,876807,51037

In [29]:
Y=df.iloc[:,14:15]

In [30]:
Y

           LY
0   13.572034
1   13.734248
2   13.739343
3   13.689968
4   13.749386
5   13.706347
6   13.797374
7   13.757036
8   13.750169
9   13.780197
10  13.765497
11  13.770668
12  13.770221
13  13.776499
14  13.858939
15  13.841226
16  13.809578
17  13.803838
18  13.833259
19  13.791152
20  13.843548
21  13.777923
22  13.822713
23  13.850065
24  13.847246
25  13.849987
26  13.936295
27  13.998340
28  13.991628
29  14.052159
30  14.129985
31  13.903390
32  14.104256
33  14.065079
34  14.076834
35  14.067580
36  13.903902
37  14.143810
38  14.243437
39  14.397947
40  14.460420
41  14.466880
42  14.518971
43  14.521733
44  14.642093
45  14.585760
46  14.555579
47  14.549538
48  14.543894
49  14.586829

In [31]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=25)

In [32]:
from sklearn.linear_model import  Ridge

ridge = Ridge(alpha=0.001)
ridge.fit(X_train, y_train)

Ridge(alpha=0.001)

In [33]:
trainPredict=ridge.predict(X_train)

In [34]:
testPredict=ridge.predict(X_test)

In [35]:
#from sklearn.model_selection import TimeSeriesSplit

In [36]:
#tscv = TimeSeriesSplit(n_splits=3)

## RMSE

In [37]:
import math
from sklearn.metrics import mean_squared_error
trainScore = math.sqrt(mean_squared_error(y_train, trainPredict))
print('Train Score: %.2f RMSE' % (trainScore))
testScore = math.sqrt(mean_squared_error(y_test, testPredict))
print('Test Score: %.2f RMSE' % (testScore))

Train Score: 0.01 RMSE
Test Score: 0.04 RMSE

## MAE

In [38]:
MAE_test=np.mean(np.abs(testPredict-y_test))

/usr/local/lib/python3.10/dist-packages/numpy/core/fromnumeric.py:3472: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

In [39]:
MAE_test

LY    0.02992
dtype: float64

In [40]:
MAE_train=np.mean(np.abs(trainPredict-y_train))

/usr/local/lib/python3.10/dist-packages/numpy/core/fromnumeric.py:3472: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

In [41]:
MAE_train

LY    0.010944
dtype: float64

## MAPE

In [42]:
import numpy as np

def mape(actual, pred): 
    actual, pred = np.array(actual), np.array(pred)
    return np.mean(np.abs((actual - pred) / actual)) * 100

In [43]:
mape(y_test,testPredict)

0.21178220219615693

In [44]:
mape(y_train,trainPredict)

0.07816793009375997

In [45]:
y_test

           LY
36  13.903902
46  14.555579
7   13.757036
41  14.466880
17  13.803838
14  13.858939
34  14.076834
33  14.065079
45  14.585760
39  14.397947
48  14.543894
40  14.460420
2   13.739343
27  13.998340
11  13.770668

In [46]:
testPredict.round(2)

array([[13.92],
       [14.56],
       [13.72],
       [14.45],
       [13.79],
       [13.76],
       [14.07],
       [14.07],
       [14.59],
       [14.48],
       [14.51],
       [14.52],
       [13.75],
       [13.95],
       [13.77]])

In [47]:
import statsmodels.api as sm

In [48]:
 
# performing the regression
# and fitting the model
result = sm.OLS(Y, X).fit()
 
# printing the summary table
print(result.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                     LY   R-squared (uncentered):                   0.995
Model:                            OLS   Adj. R-squared (uncentered):              0.993
Method:                 Least Squares   F-statistic:                              599.7
Date:                Fri, 12 May 2023   Prob (F-statistic):                    2.02e-39
Time:                        19:57:28   Log-Likelihood:                         -71.738
No. Observations:                  50   AIC:                                      167.5
Df Residuals:                      38   BIC:                                      190.4
Df Model:                          12
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1             0.0277      0.020      1.393      0.172      -0.013       0.068
x2            -0.0027      0.001     -2.164      0.037      -0.005      -0.000
x3             0.0158      0.015      1.082      0.286      -0.014       0.045
x4          5.247e-05   2.99e-05      1.753      0.088   -8.14e-06       0.000
x5         -1.747e-05   2.78e-05     -0.629      0.533   -7.37e-05    3.88e-05
x6         -1.385e-05   2.55e-05     -0.542      0.591   -6.56e-05    3.79e-05
x7          5.787e-05   1.57e-05      3.688      0.001    2.61e-05    8.96e-05
x8         -1.747e-05   2.78e-05     -0.629      0.533   -7.37e-05    3.88e-05
x9            -0.0004      0.000     -3.557      0.001      -0.001      -0.000
x10         1.098e-05   4.54e-06      2.419      0.020    1.79e-06    2.02e-05
x11         3.362e-05   3.52e-05      0.955      0.346   -3.76e-05       0.000
x12         2.694e-06    4.3e-06      0.627      0.535   -6.01e-06    1.14e-05
x13            0.0003      0.000      1.962      0.057   -9.45e-06       0.001
==============================================================================
Omnibus:                        2.446   Durbin-Watson:                   1.182
Prob(Omnibus):                  0.294   Jarque-Bera (JB):                2.204
Skew:                          -0.505   Prob(JB):                        0.332
Kurtosis:                       2.803   Cond. No.                     8.04e+17
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[3] The smallest eigenvalue is 4.28e-23. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [49]:
import numpy as np

def MPE(actual, pred): 
    actual, pred = np.array(actual), np.array(pred)
    return np.sum((actual - pred) / actual) * 100

In [50]:
MPE(y_test,testPredict)

0.6686124018376028

In [51]:
MPE(y_train,trainPredict)

-0.0035516014848355182